.col {
  margin: 10px;
  padding: 0;
}

div.card{
  width: 280px;
  height: 300px;
  border-radius: 10px;
}

.card-header {
  height: 50px;
}

img.card-img {
  height: 250px;
  object-fit: cover;

  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
